// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Raleway:wght@400;500;700&display=swap');

// Text colors:
$base-color: #195557;
$base-color-two: #70908B;

body {
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
@mixin textStyle($fontF, $font, $fz, $lh, $col) {
    font-family: $fontF;
    font-weight: $font;
    font-size: $fz;
    line-height: $lh;
    color: $col;
}
.btn {
    max-width: 328px;
    width: 100%;
    min-height: 69px;
    background: #70908B;
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
    border-radius: 40px;
    border: none;
    @include textStyle('Raleway', 700, 14px, 16px, #fff);
    margin: 26px 0;
    cursor: pointer;

}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

// Style for first section 000000000000000000000001000000000000010000000000000000000000
#main {
    height: 100vh;
    background-image: url('../img/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 912px;
    padding-bottom: 80px;
    position: relative;
    .content-img {
        position: absolute;
        bottom: 0;
        width: 280px;
    }
    .content-img__one {
        left: 0;
        width: 220px;
    }
    .content-img__two {
        right: 0;
    }
    header {
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        .header-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-wrap__nav {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        margin: 0 30px;
                        list-style: none;
                        position: relative;
                        &.active {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: -14px;
                                transform: translate(0, -50%);
                                background: url('../img/vector.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                width: 6.25px;
                                height: 8.33px;
                            }
                        }
                        &:hover {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: -14px;
                                transform: translate(0, -50%);
                                background: url('../img/vector.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                width: 6.25px;
                                height: 8.33px;
                            }
                            &:nth-child(5)::before,
                            &:last-child::before {
                                background: none;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &.phone_link {
                            a {
                                display: flex;
                                align-items: center;
                                @include textStyle('Raleway', 500, 22px, 26px, $base-color);
                                font-feature-settings: 'pnum' on, 'lnum' on;
                                span {
                                    width: 69px;
                                    height: 69px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: linear-gradient(1.36deg, #B0D3CE 12.29%, #FFEDCE 83.89%);
                                    box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px #CFD7D3;
                                    border-radius: 40px;
                                    margin-right: 14px;
                                }
                            }
                        }
                        a {
                            @include textStyle('Cormorant Infant', 700, 16px, 19px, $base-color);
                            text-transform: uppercase;
                        }
                    }
                }
            }   
        }
    }
    .content {
        text-align: center;
        margin-top: 90px;
        h2 {
            @include textStyle('Cormorant Infant', 400, 50px, 61px, $base-color-two);
            text-transform: uppercase;
            padding: 14px 0;
        }
        p {
            @include textStyle('Raleway', 400, 14px, 16px, $base-color-two);
        }
        .content-wrap {
            display: flex;
            justify-content: space-between;
            max-width: 870px;
            width: 100%;
            margin: 120px auto 0;
            .content-wrap__item {
                max-width: 174px;
                width: 100%;
                text-align: center;
                &:nth-child(2) {
                    margin-top: -52px;
                }
                .icon {
                    width: 152px;
                    height: 152px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #FFEDCD;
                    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
                    border-radius: 50%;
                }
                h4 {
                    @include textStyle('Cormorant Infant', 700, 16px, 19px, $base-color);
                    text-transform: uppercase;
                    margin: 26px 0 12px;
                }
                p {
                    @include textStyle('Raleway', 400, 14px, 16px, $base-color-two);
                }
            }
        }
    }
}    

    
